{% extends "d.html" %}
{% load static %}

{% block style %}

.elists
{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 0.25fr 1fr;
    height:90vh;
    grid-gap: 18px;
    background-image: url("{% static 'Clubbg.png' %}");
    background-size:cover;
    background-repeat: no-repeat;
    padding:3%;
}

.ehello
{
    grid-column:span 2;
    border: 2px solid #171616;
    display:flex;
    align-items:center;
    font-size:3vw;
}

.etable
{
    grid-column:span 2;
    border: 2px solid #171616;
    display:flex;
    align-items:end;
    justify-content:center;
}

{% endblock style %}

{%block approval%}
    {% if category == "SC" or category == "FI" %}
        <a href="/approval"><img src="{% static '5_RequestOD.png' %}" alt="I">Approve OnDuty</a> 
    {% endif %}
{%endblock%}

{% block body %}

    <div class="elists">
        <div class="ehello">
           <img class="p-3" style="width:7vw; height:auto;" src="{% static '4_events.png'%}" alt="I">
            Add Events
        </div>
        <div class="etable">
            <a href="/addevents">
                <button type="button" class="btn btn-primary mb-5 rounded-pill" id="login-btn">
                    Add Events
                </button>
            </a>
        </div>
    </div>
{% endblock body %}