{% extends "d.html" %}
{% load static %}

{% block style %}

.cmembers
{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 0.25fr 1fr;
    height:90vh;
    grid-gap: 18px;
    background-image: url("{% static 'Clubbg.png' %}");
    background-size:cover;
    background-repeat: no-repeat;
    padding:3%;
}

.chello
{
    grid-column:span 2;
    border: 2px solid #171616;
    display:flex;
    align-items:center;
    font-size:3vw;
}

.ctable
{
    grid-column:span 2;
    border: 2px solid #171616;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.ct
{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

}

.ctitem
{
    display:flex;
    flex-direction:column;
    align-items:space-evenly;
}

table
{
    width:75%
}


{% endblock style %}

{%block approval%}
    {% if category == "SC" or category == "FI" %}
        <a href="/approval"><img src="{% static '5_RequestOD.png' %}" alt="I">Approve OnDuty</a> 
    {% endif %}
{%endblock%}

{% block body %}

    <div class="cmembers">
        <div class="chello">
           <img class="p-3" style="width:7vw; height:auto;" src="{% static '2_mem.png'%}" alt="I">
            Club Members
        </div>
        <div class="ctable">
            <div class="ct table-responsive">
                <table id="r-member-table" class="r-table">
                    <thead>
                        <tr>
                            <th>ROLL NO</th>
                            <th>NAME</th>
                            <th>BRANCH</th>
                            <th>YEAR</th>
                            <th>POSITION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Table rows for member information will be added dynamically -->
                        {% for  obj in objs %}
                        {% comment %} <tr>
                            {%for j in i%}
                               <td>{{j}}</td>
                            {% endfor %}
                        </tr> {% endcomment %}
                        {{obj.roll}}
                        {{obj.name}}
                        {{obj.branch}}
                        {{obj.joining_year}}
                        {{obj.designation}}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <a href="/addmembers">
                <button type="button" class="btn btn-primary mb-5 rounded-pill" id="login-btn">
                    Add Members
                </button>
            </a>
        </div>
    </div>
{% endblock body %}