{% extends "d.html" %}
{% load static %}

{% block style %}

.elists
{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 0.25fr 1fr;
    height:90vh;
    grid-gap: 18px;
    background-image: url("{% static 'Clubbg.png' %}");
    background-size:cover;
    background-repeat: no-repeat;
    padding:3%;
}

.ehello
{
    grid-column:span 2;
    border: 2px solid #171616;
    display:flex;
    align-items:center;
    font-size:3vw;
}

.etable
{
    grid-column:span 2;
    display:grid;
    grid-template-rows:3fr 1fr;
}

.eha
{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}

.eclub
{
    grid-column:span 2;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}

.eclubname
{
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:500;
    font-size:3vw;
}

.eha2
{
    display:flex;

}

a 
{
    display:flex;
    justify-content:center;
    align-items:center;
}

.p-2
{
    font-size:1.25vw;
}
{% endblock style %}

{%block approval%}
    {% if category == "SC" or category == "FI" %}
        <a href="/approval"><img src="{% static '5_RequestOD.png' %}" alt="I">Approve OnDuty</a> 
    {% endif %}
{%endblock%}

{% block body %}

    <div class="elists">
        <div class="ehello">
           <img class="p-3" style="width:7vw; height:auto;" src="{% static '4_events.png'%}" alt="I">
            Club Timeline
        </div>
        <div class="etable">
            <div class="eha">
                <div class="eclubname">
                    Media Club
                </div>
                <div class="eclub">
                    {% for  i in rows %}
                        <div class="eha2">
                            {%for j in i%}
                                <div class="p-2">
                                    {{j}}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </div>

    
{% endblock body %}