{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="static/Clogobg.png" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style> 
      body {
        margin-top:4.8%;
        padding: 0;
    }
    .btn
    {
      background-color:#5AA5E1;
    }
    
    .dashboard {
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        height: 90vh;
        {% comment %} padding-top:1%; {% endcomment %}
    }
    
    .sidebar {
        background: #D1E0FC;
        padding-left: 1%;
        border-right: 2px solid #171616;
    }
    
    
    li {
        display: flex;
        align-items: center;
    }
    
    .sidebar li a {
        color: #000;
        padding: 3% 6%;
        text-decoration: none;
    }
    
    .sidebar li img {
        width: 40px;
        padding-right: 4%;
    }
    
    .sidebar li a.active {
        background-color: #5a6f95;
        color: white;
    }
    
    .sidebar li a:hover:not(.active) {
        background-color: #b8cbea;
    }

    #dropdown{
      height:6vh;
    }

    .dropdown-item img{
      width: 30px;
      padding-right: 8%;
  }
  #profile-dropdown .dropdown-menu {
    display: none;
  }
  
  #profile-dropdown:hover .dropdown-menu {
    display: block;
  }

      {% block style %}{% endblock %} 
    </style>
    <title>{% block title %}{% endblock title %} Club Management</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-light navhome fixed-top shadow p-0 mb-0 bg-body-tertiary rounded">
      <a class="navbar-brand p-0" href="/" style="color: #000">
      <a class="navbar-brand p-0" href="/" style="color: #000">
        <img src="{% static 'clogo.png' %}" alt="I" width="50" height="50%">
        Club Management
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ">
            <li class="nav-item active hover-primary ">
              <div class="navitems p-3 ">
                <a class="nav-link " href="/" style="color: #3d3c3c; font-size:15px" onmouseover="this.style.color='#000'" onmouseout="this.style.color='#3d3c3c'">Home</a>                
              </div>
              
            </li>
            <li class="nav-item p-3">
              <div class="navitems"> 
                <a class="nav-link" href="/" onclick="scrollToSection('about')" style="color: #3d3c3c; font-size:15px" onmouseover="this.style.color='#000'" onmouseout="this.style.color='#3d3c3c'">About us</a>                
              </div>
            </li>
            
            <li class="nav-item p-3">
              <div class="navitems"> 
                <a class="nav-link" href="/contact" style="color: #3d3c3c; font-size:15px" onmouseover="this.style.color='#000'" onmouseout="this.style.color='#3d3c3c'">Contact us</a>
              </div>  
            </li>
          </ul>
          {% comment %} <div class="nav-item p-3">
            <div class="navitems"> 
              <a class="nav-link " href="/signin" style="color: #3d3c3c; font-size:15px" onmouseover="this.style.color='#000'" onmouseout="this.style.color='#3d3c3c'">Sign in</a>
            </div>
          </div> {% endcomment %}
          
          <div class="nav-item p-3 ml-auto">
            <div class="navitems">
              <div class="dropdown">
                <a class="nav-link p-0 m-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="{% static 'profile.png' %}" alt="Profile Image" id="dropdown">
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink" style="background-color: #E5F3FE;">
                  <a class="dropdown-item" href="/profile"><img src="{% static 'profile.png' %}" alt="I">Profile</a>
                  <a class="dropdown-item" href="#"><img src="{% static '2_mem.png' %}" alt="I">Add Members</a>
                  <a class="dropdown-item" href="/requestOd"><img src="{% static '5_RequestOD.png' %}" alt="I">Request OD</a>
                  <a class="dropdown-item" href="/logout"><img src="{% static 'signout.png' %}" alt="I">Log out</a>
                </div>

              </div>
            </div>
          </div>
          
      </nav>

      <div class="dashboard">

        <div class="sidebar">
            <li><a  href="/dashboard"><img src="{% static '1_dashboard.png' %}" alt="I">Dash Board</a></li>
            <li><a href="/clubmembers"><img src="{% static '2_mem.png' %}" alt="I">Club Members</a></li>
            <li><a href="/clubtimeline"><img src="{% static '3_dashtime.png' %}" alt="I">Club Timeline</a></li>
            <li><a href="/eventslist"><img src="{% static '4_events.png' %}" alt="I">Events</a></li>
            <li><a href="/requestOd"><img src="{% static '5_RequestOD.png' %}" alt="I">RequestOD</a></li>
            {% if category == "SC" or category == "FI" %}
            <li><a href="/approval"><img src="{% static '5_RequestOD.png' %}" alt="I">Approve OnDuty</a> </li>
            {% endif %}
            {% if category == "FI" %}
            <li><a href="/addclub"><img src="{% static '5_RequestOD.png' %}" alt="I">Add Club</a> </li>
            {% endif %}
            <li><a href="/approvalstatus"><img src="{% static '5_RequestOD.png' %}" alt="I">OnDuty Approval Status</a></li>
        </div>
    
        {% block body %}{% endblock body %}
    
    </div>

      <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
    <script>
      // Function to scroll to a specific section with smooth behavior
      function scrollToSection(sectionId) {

        const targetSection = document.getElementById(sectionId);

        if (targetSection) {
          // Scroll to the target position with smooth behaviors
          setTimeout(() => {
            targetSection.scrollIntoView({
                behavior: 'smooth' // Use smooth scrolling for a smoother effect
            });
        }, 0);
    }
  }

  const dropdown = document.querySelector('.dropdown');

  if (dropdown) {
    dropdown.addEventListener('mouseleave', () => {
      const isOpen = dropdown.classList.contains('show');
      if (isOpen) {
        const toggle = dropdown.querySelector('[data-toggle="dropdown"]');
        if (toggle) {
          toggle.click(); // Click the toggle to close the dropdown
        }
      }
    });
  }
  
    </script>
  </body>
</html>