{% extends "base.html" %}
{% load static %}
{% block style %}

body {
   margin: 0;
   padding: 0;
}


.cont{
   display: grid;
   background-color: #7fffd4;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   clip-path: polygon(0 0, 100% 0, 100% 100%, 53% 100%, 0 69%);
   background: linear-gradient(300deg, #2b6ab3, #f6ffff, #2b6ab3);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
   height: 95vh;
   font-weight: 100;
}

@keyframes gradient-animation {
   0% {
     background-position: 0% 50%;
   }
   50% {
     background-position: 100% 50%;
   }
   100% {
     background-position: 0% 50%;
   }
}

.item
{
   display: flex;
   justify-content: center;
   align-items: center;
}

.info
{
   grid-row: span 2;
   flex-direction: column;
}


.content{
   padding-left:100px;
   padding-right:100px;
   padding-bottom:30px
}

.cont button{
   padding-left:60px;
   padding-right:60px;
   width: 180px; 
   height: 40px;
   border-radius: 50px; 
}

.i
{  
   grid-row: span 2;
}

.i img
{
   height:50%;
   width:70%;
}

.about
{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   height: 85vh;
   font-weight: 100;        
}

.about img
{
   width:75%;
}

.features
{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   height:90vh
}

.fcontent
{
   display: flex;
   align-items: center;
   grid-column:span 3;
   background:#DAE5FA;
}

.fitem{
   padding: 30px;
}

.f1
{
   background:#0A1A44;
}
.f2
{
   
   background:#071332;
}
.f3
{
   background:#0A1A44;
}

.circle
{
   background:white;
   border-radius:50%;
   height:10%;
   width:10%;
   display:flex;
   align-items:center;
   justify-content:center;
   font-size:1.5vw;
   padding-top:10px;
}

.watch
{
   background:#DAE5FA;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   height:85vh;
}

.witem
{
   display:flex;
   justify-content:center;
   align-items: center;

}

.timeline{
   grid-row:span 2;
}

.timeline img
{
   width:80%;
   height:70%;
}

.wcontent
{
   flex-direction:column;
   align-self:center;
}

.stairs
{
   width:90%;
   height:100%;
}
{% comment %}  {% endcomment %}
.fade-in {
   opacity: 0;
   transform: translateY(20px);
   transition: opacity 0.5s ease 0.2s, transform 0.7s ease 0.2s;
}

 .fade-in.visible {
   opacity: 1;
   transform: translateY(0);
 }

.fade-leftside {
   opacity: 0;
   transform: translateX(-30px);
   transition: opacity 0.5s ease 0.2s, transform 0.7s ease 0.2s;
}

 .fade-leftside.visible {
   opacity: 1;
   transform: translateX(0);
 }

 {% comment %} .fade-rightside {
   opacity: 0;
   transform: translateX(20px);
   transition: opacity 0.5s ease 0.2s, transform 0.5s ease 0.2s;
}

.fade-rightside.visible {
   opacity: 1;
   transform: translateX(0);
} {% endcomment %}

{% endblock %}


{% block body %}
   <div class="cont" id="home">
      <div class="item info">
        <p style="font-size: 5vw; font-family:Arial;" class="fade-leftside">Club Management</p>
        <div style="font-size: 1vw;"class="content fade-leftside">
         A cutting-edge management for your top-notch clubs. 
         Anytime Anywhere..
         </div>
         <a href="/login">
            <button type="button" class="btn btn-primary mt-1 fade-leftside" id="login-btn">
            <p class="fade-leftside">Login</p>
            </button>
         </a>
      </div>
      <div class= "item i mt-2 fade-leftside"><img src="{% static 'club.png' %}" alt="I"></div>
  </div>

  <div class="about" id="about">
      <div class="item info">
         <p style="font-size: 4vw; font-family:Verdana, Geneva, Tahoma, sans-serif;" class="fade-in">Say Hello to C-Age</p>
         <div class="content fade-in">
            Your mission our plan, your team our management.
            At C-Age we work daily to build an efficient and easy way for managing the clubs. Inter club events, time slot for sessions, On-Duty for members can be done now in fingertips.
         </div>
      </div>
      <div class="item fade-in"><img src="{% static 'about.png' %}" alt="I"></div>
   </div>

   <div class="features fade-leftside">
      <div class="fcontent fade-leftside">
         <p class="pl-5 fade-leftside" style="font-size: 4vw; font-family:Arial;">C-Age's Best Features</p>
      </div>
      <div class="fitem f1">
         <div class="circle cnum1 fade-leftside">
            <p class="fade-leftside">01</p>
         </div>
         <div>
            <p class="p-5 fade-leftside" style="font-size:1.5vw; color:white;">Time Slot Management: The time and date of each event is noted to show the free slots to conduct any other event/club sessions.</p>
         </div>
      </div>
      <div class="fitem f2">
         <div class="circle cnum2 fade-leftside">
            <p class="fade-leftside">02</p>
         </div>
         <div>
            <p class="p-5 fade-leftside" style="font-size: 1.5vw; color:white;">On Duty List: The On-Duty list of members can now be sent directly to the faculty for consideration.</p>
         </div>
      </div>
      <div class="fitem f3">
         <div class="circle cnum3 fade-leftside">
            <p>03</p>
         </div>
         <div>
            <p class="p-5 fade-leftside" style="font-size: 1.5vw; color:white;">The communication between managing council, event faculty coordinator and the volunteers/members is now made easy.</p>
         </div>
      </div>

   </div>

   <div class="watch">
      <div class= "witem timeline fade-in"><img src="{% static 'timeline.png' %}" alt="I"></div> 
      <div class="witem wcontent">
         <p style="font-size:3vw" class="fade-leftside">Watch Your Club grow</p>
         <div style="font-size:1vw" class="fade-leftside">Watch the timeline of events organised in your club, the pending works for each event and many more!</div>
      </div>
      <img class="stairs fade-leftside" src="{% static 'stairs.png' %}" alt="I">
   </div>

   <script>
      const elementsToAnimatefadeside = document.querySelectorAll('.fade-leftside');
      const elementsToAnimatefadein = document.querySelectorAll('.fade-in');
  
      function checkScroll() {
        elementsToAnimatefadein.forEach((element) => {
          const elementTop = element.getBoundingClientRect().top;
          const windowHeight = window.innerHeight;
  
          if (elementTop < windowHeight - 50) {
            element.classList.add('visible');
          }
        });
      }

      function checkScrollFadeSide() {
         elementsToAnimatefadeside.forEach((element) => {
           const elementTop = element.getBoundingClientRect().top;
           const windowHeight = window.innerHeight;
       
           if (elementTop < windowHeight - 50) {
             element.classList.add('visible');
           }
         });
       }       
      window.addEventListener('scroll', checkScroll);
      window.addEventListener('scroll', checkScrollFadeSide);
      checkScroll();
      checkScrollFadeSide();
    </script>

{% endblock %}