{% extends "base.html" %}
{% load static %}
{% block style %}

body {
   margin: 0;
   padding: 0;
}


.cont{
   display: grid;
   background-color: #7fffd4;
   grid-template-columns: 1fr 1fr 1.5fr;
   grid-template-rows: 1fr 1fr;
   clip-path: polygon(0 0, 100% 0, 100% 100%, 53% 100%, 0 69%);
   background: linear-gradient(300deg, #2b6ab3, #f6ffff, #2b6ab3);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
   height: 95vh;
   font-weight: 100;
}

@keyframes gradient-animation {
   0% {
     background-position: 0% 50%;
   }
   50% {
     background-position: 100% 50%;
   }
   100% {
     background-position: 0% 50%;
   }
}


.item
{
   display: flex;
   justify-content: center;
   align-items: center;
}

.info
{
   grid-column: span 2;
   grid-row: span 2;
   flex-direction: column;
}


.content{
   padding-left:100px;
   padding-right:100px;
}

.i
{
   margin-top: -150px;
   grid-row: span 2;
}

.about
{
   display: grid;
   grid-template-columns: 1fr 1fr 1.5fr;
   grid-template-rows: 1fr 1fr;
   height: 85vh;
   font-weight: 100;        
}

.about img
{
   width:500px;

}

.features
{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   height:90vh
}

.fcontent
{
   display: flex;
   align-items: center;
   grid-column:span 3;
   background:#DAE5FA;
}

.fitem{
   padding: 30px;
}

.f1
{
   background:#0A1A44;
}
.f2
{
   
   background:#071332;
}
.f3
{
   background:#0A1A44;
}

.circle
{
   background:white;
   border-radius:50%;
   width: 50px;
   height: 50px;
   display:flex;
   align-items:center;
   justify-content:center;
   font-size:22px;
   padding-top:10px;
}
{% endblock %}


{% block body %}
   <div class="cont" id="home">
      <div class="item info">
        <p style="font-size: 90px; font-family:Arial;">Club Management</p>
        <div class=" content">
         A cutting-edge management for your top-notch clubs. 
         Anytime Anywhere..        </div>
         <button type="button" class="btn btn-primary mt-1">Login</button>
      </div>
      <div class= "item i mt-2"><img src="{% static 'club_logo.png' %}" alt="I"></div>
  </div>

  <div class="about" id="about">
      <div class="item info">
         <p style="font-size: 50px; font-family:Verdana, Geneva, Tahoma, sans-serif;">Say Hello to C-Age</p>
         <div class="content">
            Your mission our plan, your team our management.
            At C-Age we work daily to build an efficient and easy way for managing the clubs. Inter club events, time slot for sessions, On-Duty for members can be done now in fingertips.
         </div>
      </div>
      <div class="item i "><img src="{% static 'about.png' %}" alt="I"></div>
   </div>

   <div class="features">
      <div class="fcontent">
         <p class="pl-5" style="font-size: 50px; font-family:Arial;">C-Age's Best Features</p>
      </div>
      <div class="fitem f1">
         <div class="circle cnum1">
            <p>01</p>
         </div>
         <div>
            <p class="p-5" style="font-size:20px; color:white;">Time Slot Management: The time and date of each event is noted to show the free slots to conduct any other event/club sessions.</p>
         </div>
      </div>
      <div class="fitem f2">
         <div class="circle cnum2">
            <p>02</p>
         </div>
         <div>
            <p class="p-5" style="font-size: 20px; color:white;">On Duty List: The On-Duty list of members can now be sent directly to the faculty for consideration.</p>
         </div>
      </div>
      <div class="fitem f3">
         <div class="circle cnum3">
            <p>03</p>
         </div>
         <div>
            <p class="p-5" style="font-size: 20px; color:white;">The communication between managing council, event faculty coordinator and the volunteers/members is now made easy.</p>
         </div>
      </div>

   </div>
{% endblock %}